.navbar-brand img {
  width: 200px;
}

.menu-area .nav-link {
  text-transform: uppercase;
  padding: 25px 19px !important;
  display: block;
  font-size: 16px;
  color: #0d0d0d !important;
  transition: all 0.5s;
}

.menu-area .nav-link:hover {
  color: #ea0129 !important;
}
