.banner-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 200px 0px;
}

.banner-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 62px;
  font-weight: 700;
}

.banner-content p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0px;
}

.banner-content .default-btn {
  margin-top: 30px;
}

/* Responsive */

@media only screen and (max-width: 1199.98px) {
  .banner-area {
    padding: 180px 0px;
  }
  .banner-content h1 {
    font-size: 58px;
  }
  .banner-content p {
    font-size: 22px;
  }
}

@media only screen and (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 52px;
  }
  .banner-content p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767.98px) {
  .banner-area {
    padding: 150px 0px;
  }
  .banner-content h1 {
    font-size: 48px;
  }
  .banner-content p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 575.98px) {
  .banner-area {
    padding: 100px 0px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-content h1 {
    font-size: 38px;
  }
  .banner-content p {
    font-size: 16px;
  }
}
