/* Defaluit CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
p,
a,
label {
  font-family: "Poppins", sans-serif;
}
ul,
li {
  font-family: "Poppins", sans-serif;
}

.default-btn {
  display: inline-flex !important;
  height: 50px !important;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
  border-radius: 10px !important;
  color: #ea0129 !important;
  border: none !important;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0px 28px !important;
  transition: all 0.5s;
}
.default-btn:focus {
  outline: none;
  box-shadow: none !important;
}
.default-btn:hover {
  background-color: #ea0129 !important;
  color: #fff !important;
}

.ic-sec-padding {
  padding: 80px 0px;
}

/* Responsive */

@media only screen and (max-width: 575.98px) {
  .default-btn {
    height: 45px !important;
    padding: 0px 25px !important;
  }
  .ic-sec-padding {
    padding: 60px 0px;
  }
}
